{% extends 'public/layout.html' %}
{% block title %}Registrar Plato{% endblock %}

{% block body %}

<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Plato
        <hr>
    </h2>

    <form action="{{ url_for('formAddPlato') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="col">
                <label for="procedencia">Procedencia</label>
                <input type="text" name="procedencia" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="receta">Receta</label>
                <textarea name="receta" class="form-control" required></textarea>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label for="foto">Foto del Plato</label>
                <input type="file" name="foto" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}
